@{
    ViewBag.Title = "About";
}
<html>
<head>
    <title>Sports Mania</title>

    <link href="/assets1/css/style.css" rel="stylesheet" />

</head>
<body>
    <div class="row" style="margin-left:auto; margin-right:auto;margin-top:10px;">
        <div class="col-md-12" style="text-align:center">
            <div class=" panel panel-success">
                <div class="panel-heading"><h3>About</h3></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:auto; margin-right:auto;">
        <div class="col-md-12">

            <div class="panel panel-success">
                <div class=" panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="text-align:center">
                                Sports Mania is one of the Growing Online Sports Goods E-Commerce Website in Pakistan
                            </h4>
                            <br />
                            <div class="row" style="margin-left:auto;margin-right:auto;">
                                <div class="panel panel-primary col-md-6" style="margin-left:auto;margin-right:auto;">
                                    <h4 class="panel-heading">
                                        Our Mission
                                    </h4>
                                    <p class="panel-body">
                                        To regular interval of progress with our technicalities on the basis of customer feedback, and quality workforce.
                                    </p>
                                </div><div class="col-md-1"></div>
                                <div class="panel panel-primary col-md-6" style="margin-left:auto;margin-right:auto;">
                                    <h4 class="panel-heading">
                                        Our Vision
                                    </h4>
                                    <p class="panel-body">
                                        Provide as a dutiful world productions with strong mutual & durable relationship with end users.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="margin-left:auto;margin-right:auto;">
                                <div class="panel panel-info col-md-6" style="margin-left:auto;margin-right:auto;">
                                    <h4 class="panel-heading">
                                        Delivery
                                    </h4>
                                    <p class="panel-body">
                                        We are able to maintain smooth delivery operation.
                                        Our Dilivery Time is 4 to 7 working days. However, it can be more or less depending on the circumstances..
                                    </p>
                                </div><div class="col-md-1"></div>
                                <div class="panel panel-info col-md-6" style="margin-left:auto;margin-right:auto;">
                                    <h4 class="panel-heading">
                                        Cost Efficiency & Quality
                                    </h4>
                                    <p class="panel-body">
                                        We understand that you require very competitive price. To work at very small margin the requirements has to be judged very carefully. The courier charge shall be paid at your end. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="margin-left:auto;margin-right:auto;">
                                <div class="panel panel-danger col-md-12" style="margin-left:auto;margin-right:auto;">
                                    <h4 class="panel-heading">
                                        SportMania – the 24x7 Online Marketplace for everything
                                    </h4>
                                    <p class="panel-body">
                                        We bring together leading sellers for various product types together at one place so that all your retail needs can be conveniently and competitively fulfilled at SportsMania.pk. As a customer you have the liberty to compare a product sold by a number of different vendors and choose one which is best suited to your needs and budget. Browse SportsMania.pk to access hundreds of products, at any time of the day, from the comfort of your home, office, or on the go. Call us on +92 332 4231939 or email us at SaqibAbdullahAzhar@gmail.com for any queries.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>